doctype html
html
  head 
    script(src='/script.js')
    - var username = getUsername()
    h1 Welcome #{username}
    h1 Vinyl
    meta(charset='utf-8')
    link(rel='stylesheet',href='/style.css')
  body
    block content
