<!DOCTYPE html>
<html>
<head>
  <title>Vinyl</title>
  Login
  <link rel="stylesheet" type="text/css" href="/style.css">
  <script type="text/javascript" src="/script.js"></script>
</head>
<body>

  <h1>Vinyl</h1>

  <h2>Records</h2>

  <div>
    <form action='/login' method='post'>
      Email <input type='text' name='email'></input><br>
      Password <input type='password' name='password'></input><br>
      <input type='submit'></input>
    </form>
    <br>
    <%= message %>
    <br>
    <br>
    <br>
    <button onClick = 'home()'>Cancel</button>
  </div>

</body>
</html>
